.vscode/**
src/**
webview/**
node_modules/**
build/**
gradle/**
.gradle/**
.gitignore
.vscodeignore
tsconfig.json
build.gradle.kts
settings.gradle.kts
gradle.properties
gradlew
gradlew.bat
ARCHITECTURE.md
**/*.ts
**/*.map
